<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Tangle", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <div name='header' id='header'>
      <div name='navbar' id='navbar' >
        <!-- Icon -->
        <%= link to: Routes.page_path(@conn, :index), class: "navbar-logo" do %>
          <img name="navbar-logo"
               id="navbar-logo"
               src={Routes.static_path(@conn, "/images/circles.png")}
               width="23"
               height="32"
               />
          Tangle
        <% end %>

        <%= render "_calculated_menu.html", conn: @conn %>

      </div>
      <div class="pull-right">
        <%= render "_user_menu.html", assigns %>
      </div>
    </div>
    <div id="container">
      <%= @inner_content %>
    </div>
  </body>
</html>
